
.jumbotron{
    background-color: darkslategray;
    color: white;
    text-align: center;
}

#p1{
    font-size: 1.5em;
    font-weight: bold;
}

.card-header{
    background: #007bff;
    color: white;
    font-weight: bold
}